footer {
    margin-top: 50px;
    background: #595959;
}

.footer-wrapper {
    padding: 20px 0;
    font-size: 0.8rem;
    text-align: center;
    color: $primary-white-color;
    line-height: 1.5;
    @include wrapper;
}

.footer-wrapper a {
    color: $primary-white-color;
}

.footer-wrapper a:hover,
.footer-wrapper:focus {
    color: $second-color1;
}
