// Style for wrapper in header
.header-wrapper {
    display: flex;
    justify-content: space-between;
    @include wrapper;
}

// Styles for header
header {
    padding: 50px 0;
    background: $second-bg-color1;
}

// Remove margin from the grouping of lists in the main nav
.header-list {
    display: flex;
    margin: 0;
}

// Spacing out the list items
.list-item {
    margin: 0 20px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

// links in the navigation menu styles
.list-item a {
    background: $second-bg-color2;
    padding: 5px 8px;
    border-radius: 5px;
    color: $primary-white-color;
}

.list-item a:hover,
.list-item a:focus {
    color: $primary-black-color;
    transition: 200ms ease-in-out;
}

// Arranging the logo and main nav to fit on the page
.header-nav {
    display: flex;
    position: relative;
}

// Styling for the hamburger menu button
.button-hamburger {
    position: absolute;
    right: 0;
    top: -11px;
    visibility: hidden;
    margin: 0 20px;
    font-size: 1.5rem;
    padding: 10px 25px;
}

