// font family used
$font-family: "Space Mono", monospace;

// color variables
$primary-white-color: #ffffff;
$primary-black-color: #000;
$second-color1: #fc9236;

// backgound color variables
$primary-bg-color: #ebe8e8;
$second-bg-color1: #595959;
$second-bg-color2: #fc9236;
