html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: "Space Mono", monospace;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  background: #ebe8e8;
  font-family: "Space Mono", monospace;
  color: #000;
}

main {
  margin-bottom: 200px;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #fc9236;
}

ul {
  list-style-type: none;
}

option {
  font-weight: 700;
}

.button {
  background: #ffffff;
  background: #fc9236;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

.button:hover,
.button:focus {
  color: #000;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.error-message {
  margin-top: 40px;
  padding: 20px 0;
  border-radius: 5px;
  background: #595959;
  color: #ffffff;
  text-align: center;
}

.header-wrapper {
  max-width: 1500px;
  width: 95%;
  margin: 0 auto;
}

header {
  padding: 50px 0;
  background: #595959;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.list-item {
  margin: 0 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.list-item a {
  background: #fc9236;
  padding: 5px 8px;
  border-radius: 5px;
  color: #ffffff;
}

.list-item a:hover,
.list-item a:focus {
  color: #000;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.button-hamburger {
  position: absolute;
  right: 10px;
  top: -11px;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  visibility: hidden;
}

.main-wrapper {
  max-width: 1500px;
  width: 95%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding-top: 40px;
}

.dog-gif {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  place-items: center center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding: 50px 0;
}

.gif-container {
  padding: 30px 10px;
  border-radius: 10px;
  background: #fc9236;
}

.gif-container:hover,
.gif-container:focus {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.dog-gif-toggle {
  display: none;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.dropdown-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dog-select {
  width: 100%;
  display: block;
  padding: 10px 50px 10px 10px;
  margin-top: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid black;
  background: #fc9236 url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) 95% center no-repeat;
}

.dog-origin-label {
  font-size: 1.2rem;
  font-weight: 700;
}

.dog-name-search {
  padding: 9.5px;
}

.button-search {
  padding: 10.5px;
  margin-left: -17px;
  border: 1px solid #000;
  border-radius: 0;
}

.dog-search-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 50px;
  margin: 70px 0;
}

.dog-search-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 30px;
  border-radius: 5px;
  background: #fc9236;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: 1.5;
}

.dog-info-container {
  padding-top: 40px;
}

.dog-info-list {
  padding-top: 20px;
}

.dog-info-container span {
  font-weight: 700;
}

.dog-search {
  display: none;
}

.instructions {
  text-align: center;
  padding-bottom: 40px;
  max-width: 80%;
  margin: 0 auto;
}

footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background: #595959;
}

.footer-wrapper {
  padding: 20px 0;
  font-size: 0.8rem;
  text-align: center;
  color: #ffffff;
  line-height: 1.5;
  max-width: 1500px;
  width: 95%;
  margin: 0 auto;
}

.footer-wrapper a {
  color: #ffffff;
}

.footer-wrapper a:hover,
.footer-wrapper:focus {
  color: #fc9236;
}

@media (max-width: 1150px) {
  .dog-gif {
    width: 80vw;
    margin: 0 auto;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }
  .gif-container:last-child {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .list-item {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 1.7rem;
  }
  .dog-origin-label,
  .dog-search-results h2 {
    font-size: 1rem;
  }
  .dog-select,
  .dog-name-search,
  .button-search,
  .instructions,
  .dog-search-results {
    font-size: 0.8rem;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  header {
    padding-bottom: 30px;
  }
  .header-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
    height: 0;
    visibility: hidden;
  }
  .show-list {
    height: 170px;
    visibility: visible;
  }
  .list-item {
    margin: 20px 0;
  }
  .button-hamburger {
    visibility: visible;
  }
  .form-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dropdown-form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 30px;
  }
  .dog-search-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .dog-search-results {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .dog-info-container {
    padding-top: 0;
    padding-left: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 300px;
            flex: 1 0 300px;
  }
  .error-message {
    font-size: 0.7rem;
  }
}

/* Landscape phones and down */
@media (max-width: 600px) {
  .dog-gif {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    padding-bottom: 20px;
  }
  .gif-container {
    padding: 20px 10px;
  }
  h1 {
    font-size: 1.3rem;
  }
  .dog-search-results {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dog-info-container {
    padding-top: 20px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .list-item {
    font-size: 1rem;
  }
  .button-hamburger {
    font-size: 1.2rem;
  }
  .footer-wrapper {
    font-size: 0.6rem;
  }
}
